<h1 class="text-danger">
  <% if logged_in? %><%= current_user.name %>'s<% end %> Clubhouse
</h1>

<div class="main-menu">
  <div>
  <%= link_to "Home", root_path %>
  <% if logged_in? %>
    <%= link_to "New post", "posts/new" %>
  <% end %>
  </div>

  <div>
  <% if logged_in? %>
    <%= link_to "Log out", logout_path, method: :delete %>
  <% else %>
   <%= link_to "Log In", login_path %>
  <% end %>
  </div>
</div>



<!--
<ul class="list-inline d-flex header">
  <li><%= link_to "Home", root_path %>
  <% if logged_in? %>
    <li><%= link_to "New post", "posts/new" %>
    <li><%= link_to "Log out", logout_path, method: :delete %></li> 
  <% else %>
    <li><%= link_to "Log In", login_path %>
  <% end %>
</ul>
-->
